@charset "utf-8";

/* 폰트 */

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto&display=swap');
body{font-family: 'Roboto','Noto Sans KR', sans-serif; font-size: 16px; line-height: 1; color: #333;}

/* 초기화 */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li{padding: 0; margin: 0;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul,ol,li{list-style: none;}
address{font-style: normal;}
img{vertical-align: middle;}
em{font-style: normal;}
a{text-decoration: none; color: #444;}

table{border-collapse: collapse; border-spacing: 0;}
th{font-weight: normal; text-align: left;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

.hidden{font-size: 0; line-height: 0; opacity: 0; visibility: hidden; width: 0; overflow: hi
; position: absolute; left: -9999px; text-align: -9999px;}

/* 전체영역 -------- */
#wrap{max-width: 1920px; position: relative;}

/* nav영역 -------- */
#nav{background-color: #084420; width:100%; position: fixed; z-index: 999;}
#nav ul{height: 60px; float: right; margin-right: 2.083%;}
#nav ul li{float: left; margin-left: 90px; line-height: 60px; color: #fff;}
#nav ul li:first-child{margin-left: 0;}
#nav ul li a{display: block; font-size: 18px; color: #fff; position: relative;}
#nav ul li.active a{color: #04a62e;}
#nav ul li a:after{content: ""; display: block; width: 38px; height: 23px; background: url(../images/ico-arrow.png) no-repeat; position: absolute; left: 50%; bottom: -23px; transform: translateX(-50%); display:none;}
#nav ul li.active a:after{display:block;}

/* 섹션 공통 -------- */
section{}
.sec{}

/* 섹션 --------1 */
.section1{padding-top: 60px; background:url(../images/bg1.png) no-repeat center bottom;}
.section1 .main_img{max-width: 1260px; height: 490px; margin: 0 auto; position: relative;}
.section1 .main_img .img1{ position: absolute; left: -7.188%; bottom: 0;}
.section1 .main_img .txt_img{ position: absolute; left: 39.936%; top: 50%; transform: translateY(-50%);}
.section1 .main_img .img2{ position: absolute; right: 8.785%; bottom: -20px;}

/* 섹션 --------2 */
.section2{height: 100vh; background: url(../images/bg2.png) no-repeat center center; background-size: cover;}
.section2 .con{max-width: 1260px; height: calc(100% - 120px); padding-top: 120px; margin: 0 auto; position: relative;}
.section2 .con .txt_wrap h2{margin-bottom: 30px;}
.section2 .con .txt_wrap p{font-size: 36px; line-height:1.3em;}
.section2 .con .txt_wrap p em{font-weight: 500;}
.section2 .con .txt_wrap p span{color: #fff;}
.section2 .con .prd_img{position: absolute; left: 5.591%; bottom: -20px; z-index: 2; font-size: 0;}
.section2 .con .prd_img img{vertical-align: bottom;}
.section2 .con .prd_img img+img{margin-left: 16px;}
.section2 .con .prd_img .img1{}
.section2 .con .prd_img .img2{}
.section2 .con .prd_img .img3{}
.section2 .con .prd_info_box{ position: absolute; right: 9.584%; top: 44.375%; width: 420px; color: #fff;}
.section2 .con .prd_info_box h3{font-family: 'Cafe24Ohsquare'; font-size: 40px; line-height: 1.25em; margin-bottom: 10px;}
.section2 .con .prd_info_box p{ line-height: 1.5em; margin-bottom: 60px;}
.section2 .con .prd_info_box .info_tbl h4{margin-bottom: 20px;}
.section2 .con .prd_info_box .info_tbl table{width: 100%;}
.section2 .con .prd_info_box .info_tbl table th{width: 60px;}
.section2 .con .prd_info_box .info_tbl table th,
.section2 .con .prd_info_box .info_tbl table td{vertical-align: top; padding: 10px 0 10px 0; font-size: 13px; line-height: 1.69em;}

/* 섹션 --------3 */
.section3{height: 100vh; background: url(../images/bg3.png) no-repeat center center; background-size: cover;}
.section3 .con{max-width: 1260px; height: calc(100% - 120px); padding-top: 120px; margin: 0 auto; position: relative;}
.section3 .con .txt_wrap h2{font-size: 60px; text-align: center; margin-bottom: 40px;}
.section3 .con .cf{padding-bottom: 56.25%; position: relative;}
.section3 .con .cf iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* 섹션 --------4 */
.section4{height: 100vh; background-color: #fff;}
.section4 .con{max-width: 1260px; height: calc(100% - 120px); padding-top: 120px; margin: 0 auto; position: relative; text-align: center;}
.section4 .con .txt_wrap h2{font-size: 60px; text-align: center; margin-bottom: 40px;}
.section4 .con ul{display: inline-block;}
.section4 .con ul li{float: left;}
.section4 .con ul li+li{margin-left: 60px;}

/* 푸터 -------- */
footer{background-color: #333; height: calc(200px - (60px * 2));  padding: 60px 0; overflow: hidden;}
footer .txt_wrap{float: left; margin-left: 2.08%; }
footer .txt_wrap {line-height: 1.75em; color: #adacac;}
footer .txt_wrap .copy{color: #717171;}
footer .sns{float: right; margin-right: 2.08%; }
footer .sns li{float: left; width: 42px; height: 42px; border-radius: 50%; background-color: #717171; font-size: 26px; text-align: center; line-height: 42px;}
footer .sns li+li{margin-left: 8px;}

/* */

.btn_top{border: none; background-color: transparent; font-size: 36px; line-height: 1em; color: #035928; cursor: pointer; position: fixed; right:1.562%; bottom:20.639%; z-index:3;
}



/* animate.css 수정 및 추가 */
.animate__animated.animate__repeat-4 {
  -webkit-animation-iteration-count: calc(1 * 4);
  animation-iteration-count: calc(1 * 4);
  -webkit-animation-iteration-count: calc(var(--animate-repeat) * 4);
  animation-iteration-count: calc(var(--animate-repeat) * 4);
}


/* 애니메니션 관련 클래스 */
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s 0.8s infinite both;
	        animation: wobble-hor-bottom 0.8s 0.8s infinite both;
}

/* 애니메이션 관련 키프레임 */
/* ----------------------------------------------
 * Generated by Animista on 2021-3-10 10:58:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}









